{% extends 'preview/layout.twig' %}

{% block title %}
  Übersichtsseite
{% endblock %}

{% block content %}
  <table class="pew_table">
    {% for page in pages %}
      <tr>
        <td><a href="{{ page.url }}">{{ page.title }}</a></td>
        <td>{{ page.fileName }}</td>
        <td>{{ page.description }}</td>
        <td>{{ page.status }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
