{% extends 'preview/layout.twig' %}

{% set path_begin = '' %}

{% block title %}
  {{ lang.overviewPage }}
{% endblock %}

{% block content %}
  <div class="pew_container">

    <h1 class="pew_title">
      <span class="pew_title__title">{{ project.projectName }}</span>
      <span class="pew_title__sub-title">
      </span>
    </h1>

    <!-- Pages Overview           -->
    <section data-target="pages" data-target-title="{{ lang.pages }}" class="pew_content__item">
      <div class="pew_smart-table">
        <div class="pew_smart-table__filter-container">
          <div class="pew_smart-table__filter">
            <input type="text" class="pew_smart-table__filter-input" placeholder="{{ lang.filterLabel }} ...">
            <svg class="pew_smart-table__filter-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
              <path d="M19.479 2l-7.479 12.543v5.924l-1-.6v-5.324l-7.479-12.543h15.958zm3.521-2h-23l9 15.094v5.906l5 3v-8.906l9-15.094z"/>
            </svg>
            <button class="pew_smart-table__filter-reset-trigger">
              <svg class="pew_smart-table__filter-reset-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
                <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/>
              </svg>
            </button>
          </div>
        </div>
        <table class="pew_table pew_smart-table__table">
          <thead class="pew_table__head">
            <tr>
              <th class="pew_table__heading pew_table__heading--name">
                <button class="pew_smart-table__sort-trigger pew_smart-table__sort-trigger--down">
                  <span class="pew_smart-table__sort-heading">{{ lang.name }}</span>
                  <span class="pew_smart-table__sort-icon">
                    <svg class="pew_smart-table__sort-icon-up" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewbox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>
                    <svg class="pew_smart-table__sort-icon-down" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewbox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>
                  </span>
                </button>
              </th>
              <th class="pew_table__heading pew_table__heading--description">{{ lang.description }}</th>
              <th class="pew_table__heading pew_table__heading--status">
                <button class="pew_smart-table__sort-trigger">
                  <span class="pew_smart-table__sort-heading">{{ lang.status }}</span>
                  <span class="pew_smart-table__sort-icon">
                    <svg class="pew_smart-table__sort-icon-up" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewbox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>
                    <svg class="pew_smart-table__sort-icon-down" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewbox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>
                  </span>
                </button>
              </th>
            </tr>
          </thead>
          <tbody class="pew_table__body pew_smart-table__body">
            {% for page in nodes.pages %}
              <tr>
                <td class="pew_table__text pew_table__text--name">
                  <a class="pew_link pew_table__link pew_smart-table__sort-value" href="{{ page.url }}">{{ page.title }}</a>
                  <p class="pew_table__info">- {{page.fileName}}</p>
                </td>
                <td class="pew_table__text pew_table__text--description">
                  <span class="pew_table__description">{{ page.description }}</span>
                </td>
                <td class="pew_table__text pew_table__text--status">
                  {% include "preview/pew_status.twig" with { status: page.status, isSmartTable: true } %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>

    <!-- Components Overview -->
    <section data-target="components" data-target-title="{{ lang.components }}" class="pew_content__item">
      <div class="pew_smart-table">
        <div class="pew_smart-table__filter-container">
          <div class="pew_smart-table__filter">
            <input type="text" class="pew_smart-table__filter-input" placeholder="{{ lang.filterLabel }} ...">
            <svg class="pew_smart-table__filter-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
              <path d="M19.479 2l-7.479 12.543v5.924l-1-.6v-5.324l-7.479-12.543h15.958zm3.521-2h-23l9 15.094v5.906l5 3v-8.906l9-15.094z"/>
            </svg>
            <button class="pew_smart-table__filter-reset-trigger">
              <svg class="pew_smart-table__filter-reset-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
                <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/>
              </svg>
            </button>
          </div>
        </div>
        <table class="pew_table pew_smart-table__table">
          <thead class="pew_table__head">
            <tr>
              <th class="pew_table__heading pew_table__heading--name">
                <button class="pew_smart-table__sort-trigger pew_smart-table__sort-trigger--down">
                  <span class="pew_smart-table__sort-heading">{{ lang.name }}</span>
                  <span class="pew_smart-table__sort-icon">
                    <svg class="pew_smart-table__sort-icon-up" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewbox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>
                    <svg class="pew_smart-table__sort-icon-down" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewbox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>
                  </span>
                </button>
              </th>
              <th class="pew_table__heading pew_table__heading--description">{{ lang.description }}</th>
              <th class="pew_table__heading pew_table__heading--status">
                <button class="pew_smart-table__sort-trigger">
                  <span class="pew_smart-table__sort-heading">{{ lang.status }}</span>
                  <span class="pew_smart-table__sort-icon">
                    <svg class="pew_smart-table__sort-icon-up" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewbox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>
                    <svg class="pew_smart-table__sort-icon-down" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewbox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>
                  </span>
                </button>
              </th>
            </tr>
          </thead>
          <tbody class="pew_table__body pew_smart-table__body">
              {% for component in nodes.components %}
              <tr>
                <td class="pew_table__text pew_table__text--name">
                  <a class="pew_link pew_smart-table__sort-value" href="{{ component.url }}">{{ component.title }}</a>
                </td>
                <td class="pew_table__text pew_table__text--description">{{ component.description }}</td>
                <td class="pew_table__text pew_table__text--status">
                  {% include "preview/pew_status.twig" with { status: component.status, isSmartTable: true } %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>

    <!-- Styleguide -->
    <section data-target="styleguide" data-target-title="{{ lang.styleguide }}" class="pew_content__item">

    </section>
  </div>
{% endblock %}
